.north.seq-flow {
    width: 230%;
}

.seq-flow img {
    height: 100%;
    border: none !important;
    box-shadow: none !important;
}

.west.high-level {
    width: 40%
}

.east.high-level {
    width: 60%
}

.high-level img {
    height: 100%;
    border: none !important;
    box-shadow: none !important;
}

.bullets {
    font-size: 0.7em !important;
    line-height: 1.5em !important
}

tight-bullets {
    line-height: 0.8em !important
}

