.north.seq-flow {
    width: 230%;
}

.seq-flow img {
    height: 100%;
    border: none !important;
    box-shadow: none !important;
}

.west.high-level {
    width: 30%
}

.east.high-level {
    width: 70%
}

.high-level img {
    height: 100%;
    border: none !important;
    box-shadow: none !important;
}

